#menu, #check{
    display: none;
}
#check:checked ~ nav{
    left: 0;
    transition: 0.5s ease-out;
}

@media only screen and (max-width: 800px){

    #menu{
        display: block;
        float: right;
        font-size: 2rem;
        color: #071013;
        cursor: pointer;
        transform: translate(0, 35%);
    }

    nav{
        display: block;
        position: fixed;
        left: 100%;
        
        top: 53px;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100vw;
        transition: 0.5s ease-out;
        background: #F8F8F8;
        z-index: 1;

        transform: translate(0);
    }

    nav ul{
        flex-direction: column;
        
        text-align: center;
    }

    nav a{
        padding: 30px;
    }

}