*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #878585;
}

header{
    width: 960px;
    background: black;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    margin: 20px auto 0 auto;
    padding: 20px 10px 22px;
}

#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
}

#titulo h1{
    display: inline;
}

#titulo h1 a{
    text-decoration: none;
    color: inherit;
    color: white;
}

#redes{
    float: right;
    margin-top: 15px;
}

#redes a{
    text-decoration: none;
    color: inherit;
}

#redes img{
    margin-left: 10px;
}

nav{
    width: 960px;
    background-color: red;
    padding: 20px 0 17px 0;
    margin: 0 auto 10px;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;

}

nav li a{
    text-decoration: none;
    color: inherit;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
}

nav a:hover{
    background-color: black;
}

main{
    background: white;
    width: 960px;
    height: 306px;
    margin: auto;
    overflow: hidden;
}

#princ{
    display: block;
    margin: 10px 0 0 10px;
}

section{
    width: 960px;
    margin: 10px auto;
    overflow: hidden;
}

section article{
    background: #a7999a;
    width: 700px;
    border-radius: 10px;
    float: left;
}

section h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #6b5859;
    padding: 10px;
}

hr{
    border: none;
    height: 2px;
    background-color: red;
}

article img{
    margin: 10px 10px 0;
    float: left;
}

article p{
    margin: 10px;
    line-height: 15px;
}

section aside{
    width: 250px;
    float: right;
    background-color: #8b8383;
}

h3{
    width: 250px;
    background-color: #1d1919;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

aside p{
    padding: 10px;
    font-size: 12px;
    text-align: justify;
}

footer{
    width: 960px;
    margin: 0 auto 20px;
    background: #2e2a2b;
    border-radius: 0 0 20px 20px;
    padding: 18px;
}

footer p{
    text-align: center;
    color: white;
    font-size: 20px;
}