#servicios{
    width: 100%;
    height: auto;
    background: url(../imagenes/brand1.png) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    scroll-margin-block-start: 54px;

    animation: change 20s infinite ;
}

@keyframes change{
    0%{
        background-image: url(../imagenes/brand1.png);
    }

    25%{
        background-image: url(../imagenes/brand2.png);
    }

    50%{
        background-image: url(../imagenes/brand3.png);
    }

    75%{
        background-image: url(../imagenes/brand4.png);
    }

    100%{
        background-image: url(../imagenes/brand1.png);
    }
}

#serv-mask{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: calc(4% - 10px) 5% 4% 5%;
}

#serv-mask h2{
    text-align: center;
    color: #F8F8F8;
    font-size: 2.3rem;
    margin-bottom: 2%;
    font-weight: 400;
}

#serv-mask hr{
    color: #F8F8F8;
}

#serv-block{
    margin: 0 auto;
    text-align: center;
}

#serv-flex{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
}

.cuadros{
    text-align: center;
    color: #F8F8F8;
    width: 300px;
    margin: 4% 0 0;
}

.cuadros p{
    color: #F8F8F8;
    font-size: 20px;
    font-weight: 100;
}

.cuad-marg{
    margin: 10px 0;
}

.cuad-titu{
    color: #F8F8F8;
    font-size: 25px;
    font-weight: 500;
}

@media only screen and (max-width: 800px){

    #servicios{
        scroll-margin-block-start: 53px;
    }

    #serv-mask{
        padding: calc(10% - 10px) 5% 10% 5%;
    }

    .cuadros{
        margin-top: 10%;
    }

}

@media only screen and (max-width: 350px){

    .cuadros{
        width: 100%;
    }

}