:root{
    --main: #549CD3;
    --sec: #074370;
    --res: #FF895A;
    --whi: #FFF5F0;
    --bl: #314351;
    --gr: #67737C;
}

html{
    background-color: var(--whi);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

.navbar{
    background: var(--main);
}

.dropdown-menu{
    background-color: var(--sec);
}

.dropdown-menu a{
    color: var(--whi);
}

footer{
    background-color: var(--sec);
}

.redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.redes a{
    color: var(--main);
}

.redes a:hover{
    color: var(--whi);
}

.fa-brands:hover{
    color: var(--main);
}

.direccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dir-blo{
    width: 200px;
    text-align: center;
    color: var(--whi);
    margin: 5vh 0 0 0;
}